{% extends 'base.html' %}
{% block content %}
    <div class="container">
      <div class="center-block">
          <p class="page-header">
              are you sure you want to delete <b>{{ object.title }}</b> from <b>{{ todo_list.title }}</b> ?
          </p>
          <form class="form-group-lg" method="POST">
              {% csrf_token %}
              <input type="submit" class="btn-danger" value="Yes, Delete">
              <input type="button" onclick="location.href='{% url 'list' todo_list.id %}'"
                     value="No, Cancel" class="btn-default">
          </form>
      </div>
    </div>
{% endblock %}